:root {
    --clr-bg: hsl(100 100% 3%);
    --clr-neon: hsl(50 100% 54%);
}

body {
    background: black;
    color: var(--clr-neon);
    font-family: "Arial", cursive;
}

a {
    background-color: black;
    color: var(--clr-neon);
    cursor: pointer;
    text-decoration: none;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    margin: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 800px;
}

.item {
    margin: 25px 0;
}